name: core-unit-test

on:
  pull_request:
     branches:
        - main
     paths:
        - '*.go'
        - 'go.mod'
        - 'go.sum'
        - .github/workflows/core-pull.yaml

jobs:
   core-unit-test:
      name: Core unit tests
      runs-on: ubuntu-latest
      strategy:
         matrix:
            go-version: [ '1.21', '1.22' ]

      steps:
         - uses: actions/checkout@v4
           with:
              repository: openshieldai/openshield
              ref: refs/pull/${{ github.event.pull_request.number }}/merge
         - name: Setup Go ${{ matrix.go-version }}
           uses: actions/setup-go@v5
           with:
              go-version: ${{ matrix.go-version }}
         - name: Install dependencies
           run: go get -v
         - name: Run unit tests
           run: go test

